{
  "version": {{ version }},
  "description": {{ description }},
  "homepage": {{ homepage }},
  "license": {{ license }},
  "architecture": {
    "64bit": {
      "url": {{ windows_url }},
      "hash": {{ windows_sha256 }},
      "extract_dir": {{ extract_dir }},
      "bin": {{ binary }}
    }
  }
}
